{% extends 'navbar3.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5"> 
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-secondary">Student Attendance List</h5><br>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for attendance in attendances %}
                                <tr>
                                    <td>{{ attendance.date }}</td>
                                    <td>
                                        {% if attendance.attendance == 'present' %}
                                            <button class="btn btn-outline-success">Present</button>
                                        {% elif attendance.attendance == 'absent' %}
                                            <button class="btn btn-outline-danger">Absent</button>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
