{% extends 'navbar.html' %}
{% block content %}

{% load static %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            {% if messages %}
            <div class="alert alert-danger " style="width: 100%; margin-bottom: 15px;">
                {% for m4 in messages %}
                    {{ m4 }}
                {% endfor %}
            </div>
        {% endif %}
            <div class="card">
                <div class="card-body">
                    <h4><img src="{% static 'images/logo1.webp' %}" style="height: 50px;width: 40px;">CAREER GUIDE</h4>
                    <P><b>Log into your account</b></P>
                    <form action="{% url 'login_user' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="uname">Username</label>
                            <input type="text" class="form-control" id="uname" name="uname" >
                        </div>
                        <div class="form-group">
                            <label for="pswd">Password</label>
                            <input type="password" class="form-control" id="pswd" name="pswd" >
                        </div>
                        <button type="text" class="btn btn-dark btn-block">Login</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>

{% endblock %}