{% extends 'navbar3.html' %}

{% block content %}
<style>
    .table_dec{
        height: 400px;
    }
</style>

<h3 class="text-center mt-2">Assigned Tasks</h3><br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10"> 
            {% if tasks %}
                <div class="table-responsive table-dec">
                    <table class="table table-bordered">
                            <tr>
                                <th>Task Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Action</th>
                            </tr>
                
                            {% for task in tasks %}
                            <tr>
                                <td>{{ task.task_name }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.end_date }}</td>
                                <td>
                                    <form action="{% url 'task_submit' task.id %}" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {% if task.submit_user %}
                                            <button type="button" class="btn btn-outline-success" disabled>Task Submitted</button>
                                        {% else %}
                                            <button type="submit" class="btn btn-outline-info">Submit Task</button>
                                        {% endif %}
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                
                    </table>
                </div>
            {% else %}
                <p>No tasks assigned.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
