{% extends 'navbar2.html' %}
{% block content %}
<h3 class="text-center mt-2">View Assigned Tasks</h3><br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10"> 
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Task Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                        <tr>
                            <td>{{ task.task_name }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.end_date }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
